'atom-text-editor:not(mini).autocomplete-active':
  'tab': 'autocomplete-plus:confirm'
  'enter': 'autocomplete-plus:confirm'
  'up': 'unset!'
  'down': 'unset!'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
